.product-view_mobile {
  margin: 100px 5% 200px 5%;
}

.product-view_bigger-screen {
  margin: 100px 30px 100px 30px;
}

.product-view_1280-px {
  margin: 100px auto 100px auto;
}

.product-view-category {
  font-size: 16px;
  margin-bottom: 40px;
}

.product-view-name_mobile {
  font-size: 30px;
  margin: 20px 0px 30px 0px;
}

.product-view-name_bigger-screen {
  font-size: 30px;
  margin: 51px 0px 30px 0px;
}

.product-view-price {
  font-size: 21px;
  margin: 30px 0px 0px 0px;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left;
  cursor: default;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 2px solid #cfcfcf;
}

.image-gallery-thumbnail:hover {
  border: 2px solid #666666;
}

.image-gallery-thumbnail {
  border: 2px solid transparent;
  transition: border 0.1s ease-out;
}

.product-view-description_mobile {
  font-size: 16px;
  margin-top: 30px;
}

.product-view-description_bigger-screen {
  font-size: 16px;
  margin-top: 0px;
}

.product-view-id {
  font-size: 16px;
  color: #929292;
  margin-top: 0px;
}

.quantity-select {
  margin: 30px 0px 30px 0px;
}

.add-to-cart-button {
  margin: 30px 0px 30px 0px;
}

.add-to-cart-button-icon {
  padding-right: 12px;
  color: #2b2b2b;
}

input[type="number" i] {
  padding: 10px 10px;
}
